body {
	font-family: 'Roboto Slab', serif;
}
.navbar-custom{      /* Header menu color change*/
	background-color: #282e3e;
	color: #FFF;
	border-radius: 0Px; padding: 10px;
}
.navbar-custom .navbar-nav>li>a{
	color:#fff;
	font-size: 19px; margin-left: 13px;

}
.navbar-custom .navbar-nav> .active>a{
	color:#fff; background-color: #82c434;

}


.carousel-inner{      /*This is for making the header images slider height small */


	height: 675px;
}

.navbar-custom .navbar-nav>li>a:hover{ /* Header Menu Hover changing of color*/
	background-color: #82c434;

}
.navbar-custom .navbar-brand{ /* Header Company Logo style*/
	color: #fff;
	font-size: 27px;
	margin-left: 15px;
}
.navbar-custom .navbar-brand:hover{ /*Header Company logo Hover*/
	color: #fff;
	font-size: 27px;


}/* Header is complete*/

.slider{
	width:100%;
	Padding:0Px;
	margin: 0Px;
}
.carousel-caption{
	color: white;
		top: 30%;          /* THis is for the caption on the image slider. To adjust the left and right */
		right: 250px;
}
b{
	font-size: 40px;
	border-bottom-style: ridge;
	font-weight: bold;
	border-bottom-color: #82c434;
}

/*CSS FOR ABOUT US SECTION*/

#about    /*Id for css is always defined by # and for class by about */



/*CSS FOR SERVICES SECTION*/



#Services{				/*Id is defined by #*/
font-size: 45px;
border-bottom-style:ridge;
font-weight:bold;
border-bottom-color: #82c434;
}


.column1{
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	min-height: 350px;

}

.icons{
	width: 130px;
	font-size:60px;
	background-color: #d9d9d9;
	padding: 5px 10px;
	height: 110px;
	margin-top: -50px;
	color: #82c434;
}
